/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}









/* 以下是添加的样式 */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Helvetica", PingFang SC, PingFang TC,Hiragino Sans GB, STHeiti, Microsoft YaHei, Microsoft JhengHei, "WenQuanYi Micro Hei", sans-serif;
  color: #444;
  font-size: 16px;
}

p {
  line-height: 1.5em;
  margin: 0.9em 0;
}

a {
  color: #5A93AA;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover {
  color: #9CC3D8;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

hr {
  border: 0;
  height: 1px;
  background: #EEE;
  margin: 1em 0;
}

blockquote {
  margin: 1em 0;
  padding-left: 1.5em;
  border-left: 4px solid #5A93AA;
  color: #666;
  background-color: rgba(90, 147, 170, 0.1);
}

code, pre, .mono {
  font-family: "Fira Code",Menlo,Monaco,"Source Code Pro",Consolas,"Courier New",monospace;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], textarea {
  padding: 5px;
  border: 2px solid #9CC3D8;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 6px #9CC3D8;
  transition: all 0.2s ease !important;
}

.container {
  margin: 10px auto 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 1200px){
  .container {
    max-width: 1080px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1199px){
  .container {
    max-width: 840px;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px){
  .container {
    max-width: 560px;
  }
}
@media screen and (max-width: 599px){
  .container {
    max-width: 560px;
  }
}

.row {
  margin: 0 -10px;
}
.row [class*="col-"] {
  float: left;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row::after {
  clear: both;
  content: " ";
  display: table;
}
.col-1 {
  width: 8.33333%;
}
.col-2 {
  width: 16.66667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333%;
}
.col-5 {
  width: 41.66667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333%;
}
.col-8 {
  width: 66.66667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333%;
}
.col-11 {
  width: 91.66667%;
}
.col-12 {
  width: 100%;
}

[class*="col-"].left-sidebar {
  text-align: right;
  margin-top: 120px;
  padding-right: 20px;
}

.site-name-block {
  position: relative;
}

.site-name-block .site-name-bg {
  width: 100%;
}

.site-name-block .site-name {
  position: absolute;
  bottom: 0.6em;
  right: 0.3em;
  margin: 0;
  font-weight: 600;
  font-size: 1.2em;
  color: white;
}

.site-name-block .site-description {
  position: absolute;
  bottom: 0.2em;
  right: 0.5em;
  margin: 0;
  font-weight: 300;
  font-size: 1.2em;
  color: white;
}

@media screen and (max-width: 899px){
  .site-name-block .site-name {
    bottom: 0.5em;
    right: 0.2em;
    font-size: 0.75em;
  }
  .site-name-block .site-description {
    bottom: 0.15em;
    right: 0.3em;
    font-size: 0.6em;
  }
}




nav ul {
  list-style: none;
}

nav ul li {
  margin: 8px 2px;
}
nav ul li a {
  font-size: 1.5em;
}
nav ul li a:hover {
  font-size: 1.6em;
}


#main-searchbox {
  position: relative;
  margin: 0 0.2em 0.2em 0;
}
#main-searchbox input {
  padding-right: 28px;
  width: 36px;
  text-align: right;
  transition: all 0.5s ease;
}
::placeholder{
  color: #999;
}

#main-searchbox button:hover + input, #main-searchbox input:hover, #main-searchbox input:focus {
  padding-right: 36px;
  width: 100%;
  transition: all 0.5s ease;
}


#main-searchbox button{
  position: absolute;
  right: 6px;
  top: 6px;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  background: transparent url(../img/icon-search.png) no-repeat center center;
  direction: ltr;
  text-indent: -9999em;
}



footer {
  font-size: 0.75em;
}

.footer-separator {
  width: 8em;
  height: 2px;
  margin-left: auto;
}







.post {
  font-size: 0.9em;
  padding: 15px 0 20px;
  border-bottom: 1px solid #EEE;
}

.post-meta {
  margin-top: -0.5em;
  padding: 0;
  color: #999;
  font-size: .92857em;
}

.post-meta li:first-child {
  margin-left: 0;
  padding-left: 0;
  border: none;
}
.post-meta li {
  display: inline-block;
  margin: 0 8px 0 0;
  padding-left: 12px;
  border-left: 1px solid #EEE;
}

.post-content, .comment-content {
  word-wrap: break-word;
}

.post-content hr, .comment-content hr {
  margin: 2em auto 2em 1em;
  width: 8em;
  border: 1px solid #EEE;
  border-width: 2px 0 0 0;
}
.post-content img, .comment-content img, .post-content video, .comment-content video {
  max-width: 100%;
}

.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment-list li {
  padding: 14px;
  margin-top: 10px;
  border: 1px solid #EEE;
}
.comment-author {
  display: inline;
  color: #444;
}
.comment-author cite {
  font-weight: 600;
  font-style: normal;
}
.comment-meta {
  display: inline;
}
.comment-meta a {
  font-weight: 300;
  font-size: 12px;
}
.comment-reply {
  text-align: right;
  font-size: .92857em;
}

.post-near {
  list-style: none;
  color: #999;
}
.post-near li {
  margin: 10px 0;
}

.widget-title {
  margin-bottom: 0.6em;
}

.widget-list li {
  list-style: none;
}



.label-404 {
  margin-top: 8em;
}


.page-navigator {
  list-style: none;
  margin: 25px 0;
  padding: 0;
  text-align: center;
}
.page-navigator li {
  display: inline-block;
  margin: 0 4px;
}
.page-navigator a {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.page-navigator .current a {
  color: white;
  background: #9CC3D8;
}

.more {
  margin-left: 2em;
  font-weight: 600;
}